.dropdown-menu li{
  width: 600px;
  }

.ldap-item .img-container {
  float: left;
  margin-right: 10px;
  padding: 2px;
  width: 36px;
  overflow: hidden;
}

.ldap-item img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.person img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

