{% load staticfiles %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An autocomplete service" />
    <title>Autocomplete.bin</title>
    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
  </head>
  <body>
  {%  verbatim %}
      <div id="app" class="container">
          <h1>Autocomplete.bin</h1>
          <br /> <br />
          <div class="row row-eq-height">
              <div class="col-md-6">
                  <div class="panel panel-primary">
                      <div class="panel-heading">
                          Choose what field to export
                      </div>
                      <div class="panel-body">
                          <!--TODO: Use  http://rubaxa.github.io/Sortable/ -->
                          <div class="checkbox"><label><input type="checkbox" value="firstname" v-model="choices.firstname">First name</label></div>
                          <div class="checkbox"><label><input type="checkbox" value="lastname" v-model="choices.lastname">Last name</label></div>
                          <div class="checkbox"><label><input type="checkbox" value="mail" v-model="choices.mail">Email</label></div>
                          <div class="checkbox"><label><input type="checkbox" value="promo" v-model="choices.promo">Promo</label></div>
                          <div class="checkbox"><label><input type="checkbox" value="phone" v-model="choices.phone">Phone</label></div>
                          <div class="checkbox"><label><input type="checkbox" value="room" v-model="choices.room">Room</label></div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <person :person="current"></person>
              </div>
          </div>
          <div class="well-lg">
              <typeahead placeholder="Search by firstname.lastname" async-key="users" :limit=20 async="ldap_search?q=" template-name="ldap-template" :template="ldapTemplate" :on-hit="ldapCallback"></typeahead>
          </div>
          <br />
          <results :results="results" :choices="choices"></results>
          <br />
          <button v-on:click="clear" class="btn btn-danger">Clear</button>
      </div>

      <template id="person">
          <div v-if="person" class="panel panel-primary person">
              <div class="panel-heading">
                  {{ person.firstname }} {{ person.lastname }}
              </div>
              <div class="panel-body">
                  <div class="row">
                      <div class="img-container col-md-2">
                          <img height="100px" :src="person.photo">
                      </div>
                      <div class="col-md-10">
                          <p>
                              <strong>First name :</strong> {{ person.firstname  }}<br/>
                              <strong>Last name :</strong> {{ person.lastname  }}<br/>
                              <strong>Promo :</strong> {{ person.promo }}<br/>
                              <strong>Room :</strong> {{ person.room  }}<br/>
                              <strong>Email :</strong> <a :href="'mailto:' + person.mail">{{ person.mail }}</a><br/>
                              <strong>Phone :</strong> <a :href="'tel:' + person.phone">{{ person.phone }}</a><br/>
                              <strong>uid :</strong> {{ person.uid  }}
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </template>

      <template id="results">
          <div>
              <textarea readonly class="form-control" rows="15">{{ output }}</textarea><br />
              <button v-on:click="export_csv" class="pull-right btn btn-success">Export as CSV</button>
          </div>
      </template>
  {% endverbatim %}
    <script src="{% static "js/lib/vue.js" %}"></script>
    <script src="{% static "js/lib/vue-strap.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
  </body>
</html>
