{% load staticfiles %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An autocomplete service" />
    <title>Autocomplete.bin</title>
    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
  </head>
  <body>
  <div id="app" class="container">
      <h1>Autocomplete.bin</h1>

  <typeahead placeholder="Search via uid" async-key="users" limit="20" async="ldap_search?q=" template-name="ldap-template" :template="ldapTemplate" :on-hit="ldapCallback">
</typeahead>

  </div>
    <script src="{% static "js/lib/vue.js" %}"></script>
    <script src="{% static "js/lib/vue-strap.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
  </body>
</html>
