{% extends "autocomplete_front/base.html" %}

{% load staticfiles %}

{% block content %}
  <div id="app" class="container">
      <h1>Autocomplete.bin</h1>
      {% if request.user.is_authenticated %}
          <div class="pull-right">
              <span class="label label-success">Authentificated as {{ request.user }}</span>
              <a class="btn btn-default" href="{% url 'logout' %}">Logout</a>
          </div>
      {% else %}
          <div class="pull-right">
              <span class="label label-primary">On-platal IP: {{ request.META.REMOTE_ADDR }}</span>
              <a class="btn btn-default" href="{% url 'index' %}">Home</a>
          </div>
      {% endif %}
      <br /> <br />
      <div class="row" v-if="people.length">
          <div class="col-md-6">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      Choose what field to export
                  </div>
                  <div class="panel-body">
                      <!--TODO: Use  http://rubaxa.github.io/Sortable/ -->
                      <div class="checkbox"><label><input type="checkbox" value="firstname" v-model="choices.firstname">First name</label></div>
                      <div class="checkbox"><label><input type="checkbox" value="lastname" v-model="choices.lastname">Last name</label></div>
                      <div class="checkbox"><label><input type="checkbox" value="mail" v-model="choices.mail">Email</label></div>
                      <div class="checkbox"><label><input type="checkbox" value="promo" v-model="choices.promo">Promo</label></div>
                      <div class="checkbox"><label><input type="checkbox" value="phone" v-model="choices.phone">Phone</label></div>
                      <div class="checkbox"><label><input type="checkbox" value="room" v-model="choices.room">Room</label></div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <person :person="current"></person>
          </div>
      </div>
      <div class="panel panel-primary">
          <div class="panel-heading">
              Search
          </div>
          <typeahead placeholder="Search by firstname.lastname" async-key="users" :limit=20 async="ldap_search?q=" template-name="ldap-template" :template="ldapTemplate" :on-hit="ldapCallback"></typeahead>
      </div>
      <br />
      <results-table :people="people" :choices="choices" v-on:delete_item="delete_item" v-on:clear="clear"></results-table>
      <br />
      <results :people="people" :choices="choices"></results>
  </div>
{% endblock %}


{% block templates %}
    {% include "autocomplete_front/person.html" %}
    {% include "autocomplete_front/results.html" %}
    {% include "autocomplete_front/results-table.html" %}
{% endblock %}

{% block scripts %}
    <script src="{% static "js/lib/vue.js" %}"></script>
    <script src="{% static "js/lib/vue-strap.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
{% endblock %}

  </body>
</html>
